{% load cache static %}

<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Weather{% endblock %}</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/img/favicon.ico' %}"> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}" >
    
    <!-- Override this block in individual templates in order to add stylesheets on a template by template basis -->
    {% block extra_css %}{% endblock %}

  </head>

  <body class="main">   
    <div class="main-panel">
      {% block top_nav %}{% include 'includes/top_nav.html' %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    
    <script src="{% static 'app/js/dist/scripts.js' %}"></script>
    <script src="{% static 'app/js/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    {% block extra_js %}
    {% endblock %}
  </body>
</html>