{% extends 'base.html' %}

{% load account %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

<div class="login" style="text-align: center">
    <p>If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.</p>
    
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction" type="submit">Sign In</button>
    </form>
</div>

{% endblock %}