{% extends 'base.html' %}

{% load account %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

<div class="login" style="text-align: center">
   <p>Are you sure you want to sign out?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">Sign Out</button>
</form>
</div>

{% endblock %}