{% extends 'base.html' %}

{% load account %}

{% block head_title %}Sign In{% endblock %}

{% block content %}
<div class="login" style="text-align: center">
<h1>Sign Up</h1>

<p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Sign Up &raquo;</button>
</form>
</div>
{% endblock %}