{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Welcome {{ user }}</h1>
<h1> Cape Town Weather Forcast</h1>
<div class="forcast">
</div>
{% endblock %}

{% block extra_js %}
<script>
  const csrftoken = Cookies.get('csrftoken');      
  function get_forcast(next, previous){
    let url = "/api/forcast"
    if(next){
      url = `${next}`;
    }
    if(previous){
      url = `${previous}`;
    }
    $.ajax({
      url: url,
      headers: {'X-CSRFToken': csrftoken},
      type: "GET",
      dataType: 'json',
      success: function (data) {
        let results = data.results
        let html = ""
        for(i=0; i<results.length; i++) {
          html = `${html}<div class="row"><div class="card col-auto" style="width: 18rem;"><div class="card-body"><h5 class="card-title">${results[i].date}</h5><p>Min temp: ${results[i].temp_min}</p><p>Max Temp: ${results[i].temp_max}</p><p>Sun Rise: ${results[i].sun_rise}</p><p>Sun Set: ${results[i].sun_set}</p><p>Moon Rise: ${results[i].moon_rise}</p><p>Moon Set: ${results[i].moon_set}</p><p>Moon Phase: ${results[i].moon_phase}</p><p>Rain Possibility in Day: ${results[i].day_rain_probability}%</p><p>Rain Possibility in Night: ${results[i].night_rain_probability}%</p><p>Day Wind speed: ${results[i].day_wind_speed}km/h</p><p>night Wind speed: ${results[i].night_wind_speed}km/h</p></div></div></div>`        }
        if(data.previous){
            html = `${html} <div onclick="previous(this)" data-value="${data.previous}" id="prev" class="btn btn-dark prev">Previous</div>`
          }
          if(data.next){
            html = `${html} <div onclick="next(this)" data-value="${data.next}" id="next" class="btn btn-dark next">Next</div>`
          }
        $('.forcast').html(html);
      }
    });
  }
  get_forcast()
  function previous(elmnt) {
    let prev = $(elmnt).attr("data-value")
    get_forcast(null, `${prev}`)
  }
  function next(elmnt) {
    let next = $(elmnt).attr("data-value")
    get_forcast(`${next}`, null)
  }
  </script>
{% endblock %}